.fondo {
    background-color: rgb(255, 255, 255);
}
.MiTexto {
    font-size: 10px;
    color: rgb(255, 0, 0);
}
.Logo-head {
    width: 144.78px;
    height: 27px;
}
.menu a {
    margin-right: 15px;
    }
.Candadoimg {
        width: 100px;
        height: 100px
        };

.header {
    width : 100%;
    background-color: rgb(255, 0, 0);
    padding: 20px 0;  }

.nav {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 217, 0);
  padding: 15px 30px;
  border-radius: 8px;
}
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.Titulo {
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-style: Black;
font-size: 90px;
line-height: 116px;
letter-spacing: -1%;
    width: 578px;
height: 218px;
opacity: 1;
top: 283px;
left: 135px;
}
.subtitulo {
width: 478px;
height: 64px;
opacity: 1;
top: 539px;
left: 135px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 30px;
line-height: 32px;
letter-spacing: 0.5%;
}
.Candadoimg {
    width: 501.5520324707031px;
height: 590px;
opacity: 1;
top: 197px;
left: 792.45px;
border-radius: 20px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}