.fondo {
    background-color: rgb(255, 255, 255);
}
.MiTexto {
    font-size: 10px;
    color: rgb(255, 0, 0);
}
.Logo-head {
    width: 144.78px;
    height: 27px;
}
.menu a {
    margin-right: 15px;
    }
.Candadoimg {
        width: 100px;
        height: 100px
        };

.header {
    width : 100%;
    background-color: rgb(255, 0, 0);
    padding: 20px 0;  }

.nav {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 0, 0);
  padding: 15px 30px;
  border-radius: 8px;
}
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
